{%load static%}
<!DOCTYPE HTML>

<html>

<head>
	<meta charset="UTF-8">
	<title> ---통합관제시스템--- </title>
	<link rel="stylesheet" href="{% static 'css\style.css'%}">
	<link rel="stylesheet" href="{% static 'css/BlockStyle.css'%}">
	<link rel="stylesheet" href="{% static 'css/NodeStyle.css'%}">
	<link rel="stylesheet" href="{% static 'css/TotalStyle.css'%}">
	<link rel="stylesheet" href="{%static 'css/ButtonStyle.css'%}">
	<script type="text/javascript" src="{% static 'js/main.js'%}"> </script>




</head>

<body onload = "">

    <div style="width: 100%; font-size: 30px;">차량 감지 시간설정</div>
    <span> 현재 설정된 시간 :</span>
    <span> 
    <div> 시작 : {{start1}}시  {{end1}}분 | 종료 : {{start2}}시  {{end2}}분</div>
    </span>



    <form action="saved" method="post" id="timeset"><input type="hidden" name="csrfmiddlewaretoken" value="lYh6IULK41BHoFiK6GBdlQn3U5PAyRxq9FSEeAsuO3vWB1ai3AsICy9ArOUGtjSr">
        {% csrf_token %}
        <div class="form-row" style="width: 450px;">
            <label class="required" for="id_username" style="background-color: whitesmoke;">시작 시간:</label> <input type="text" name="starttime1" value="" id="block">시 <input type="text" name="starttime2" value="" id="block">분
        </div>
        <div class="form-row" style="450px">
            <label class="required" for="id_password" style="background-color: whitesmoke;">종료 시간: </label> <input type="text" name="endtime1" id="block">시 <input type="text" name="endtime2" id="block">분
            <input type="hidden" name="next" value="/admin/">
        </div>
        <div class="submit-row" style="width: 100px;">
            <input type="submit" value="저장" style="background-color: whitesmoke; width: 450px; height: 50px;">
        </div>
        </form>
    </div>

</body>